<!DOCTYPE html>
<html>
<head>

    <% include ../head.ejs %>

</head>
<body>

    <% include ../nav.ejs %>

      <div id="contact-section-1">
        <div class="slide text-landing text-align-center">
          <h1 class="inline-block"><%= title %><br> me</h1>
          <p>- Send Something -</p>

          <div class="col-md-offset-3">
            <div class="col-md-4">
              <input type="text" placeholder="First Name*" class="form-control">
            </div>
            <div class="col-md-4">
              <input type="text" placeholder="Email*" class="form-control">
            </div>
            <div class="col-md-8">
              <input type="text" placeholder="Message*" class="form-control">
              <p>*Required fields</p>
            </div>
            <div class="col-md-8">
              <input type="submit" value="Submit" class="btn"></div>
          </div>

        </div>
      </div>

    <% include ../footer.ejs %>
