<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

    <% include ../head.ejs %>

</head>
<body>

    <% include ../nav.ejs %>

      <div id="contact-section-1">
        <div class="text-landing text-align-center container">
          <h1 class="inline-block"><%= title %><br> me</h1>
          <p class="italic">- Send Something -</p>

            <div class="col-md-offset-3">

              <% include ../email-form.ejs %>

            </div>

        </div>
      </div>

    <% include ../footer.ejs %>
