</div><!-- CLOSING DIV OF CONTAINER -->

<footer class="section fp-auto-height container-fluid">
  <div class="container">
    <div class="col-md-4">
      <p>This is footer</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</footer>

</div><!-- CLOSING DIV OF FULLPAGE.JS -->
</body>
</html>
