<footer class="container-fluid">
  <div class="container text-align-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4"><p>Made with love in the heart of Europe</p></div>
    <div class="col-md-4"></div>
  </div>
</footer>

</body>
</html>
