<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<title><%= title %></title>

<link rel="stylesheet" type="text/css" href="/assets/main.css">

<!-- JQUERY -->
<script src="/assets/lib/jquery/dist/jquery.js"></script>
<script src="/assets/lib/jquery/dist/jquery.min.js"></script>

<!-- BOOTSTRAP -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- FULLPAGE.JS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.7/jquery.fullPage.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.7/jquery.fullPage.js"></script>

<!-- MASONRY -->
<script src="/assets/lib/masonry/dist/masonry.pkgd.min.js"></script>

<!-- SCROLLMAGIC -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

<!-- READMORE JS -->
<script src="/assets/lib/readmore/readmore.min.js"></script>

<!-- THEME COLOR ANDROID
<meta name="theme-color" content="#3550a0">-->

