<!DOCTYPE html>
<html>
<head>

    <% include head.ejs %>

</head>
<body>

    <% include nav.ejs %>

    <div id="fullpage">
        <div class="section landing-section-1">
        <div class="text-landing text-align-center container">
            <h1 class="inline-block">Hello there, I'm Vid</h1>
            <p>I'm a student of Web Design & Development at SAE Institute. Located in the heart of Europe.</p>
          <a href="projects"><button class="btn">Show Portfolio</button></a>
        </div>
        </div>
        <div class="section landing-section-2 text-align-center">
          <div class="text-landing container">
            <h1 class="inline-block">Powerfull Skillset</h1>
            <p>I love big challenges, especially when there are opportunities to develop and grow. These technologies allow me to express creativity and build stuff.</p>
          </div>
          <div id="landing-section-2" class="inline-block">
            <img src="images/icon-photoshop.png">
            <img src="images/icon-node.png">
            <img src="images/icon-angular.png">
          </div>
        </div>
        <div class="section landing-section-3">
          <div class="text-landing text-align-center container">
            <h1 class="inline-block">I Build Partnerships</h1>
            <p>I'm a helpful & descreet person focusing on your goals. I like honest communication to produce great designs.</p>
            <a href="contact"><button class="btn">Let's Work</button></a>
          </div>
        </div>

    </div><!-- CLOSING DIV OF FULLPAGE.JS -->

    <% include footer.ejs %>
