<script src="/assets/js/nav.js"></script>

<nav>

  <a href="/"><img src="/assets/images/logo.png" class="open-popup-link float-left" id="logo"></a>
  <img src="/assets/images/hamburger.png" id="hamburger" class="open-popup-link float-right">

  <div class="clearfix"></div>

      <div id="popup">
        <div class="text-align-right">
          <img src="/assets/images/close.png" id="close" class="inline-block">
        </div>
        <div id="popup-content" class="text-align-center">
          <div class="inline-block">
            <ul>
              <h2><a href="/" id="home">Home</a></h2>

              <h2><a href="/projects" id="portfolio">Portfolio</a></h2>

              <h2><a href="/about" id="about">About</a></h2>

              <h2><a href="/contact" id="contact">Contact</a></h2>
            </ul>
            <h5>Connect With Me</h5>

            <div id="popup-icons">
              <a href="https://github.com/vidrepar"><img src="/assets/images/icon-github.png"></a>
              <a href="https://www.facebook.com/nucky.thompson.75054"><img src="/assets/images/icon-facebook.png"></a>
              <a href="https://www.behance.net/aaviador"><img src="/assets/images/icon-behance.png"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
</nav>
