<script src="assets/js/nav.js"></script>
<nav>
      <a href="/"><div class="float-left" id="logo"></div></a>
  <!-- don't understand test popup, check when you're fresh -->
      <a href="#test-popup" class="open-popup-link float-right"><div id="hamburger"></div></a>
  <div class="clearfix"></div>

      <div id="popup">
        <div class="text-align-right">
          <div id="close" class="inline-block"></div>
        </div>
        <div id="popup-content" class="text-align-center">
          <div class="inline-block">
            <ul>
              <h2><a href="/">Home</a></h2>

              <h2><a href="projects">Portfolio</a></h2>

              <h2><a href="about">About</a></h2>

              <h2><a href="contact">Contact</a></h2>
            </ul>
            <br>
            <h5>Connect With Me</h5>

            <div id="popup-icons">
              <a href="https://github.com/vidrepar"><img src="assets/images/icon-github.png"></a>
              <a href="https://www.facebook.com/nucky.thompson.75054"><img src="assets/images/icon-facebook.png"></a>
              <a href="https://www.behance.net/aaviador"><img src="assets/images/icon-behance.png"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
</nav>
