<nav>
      <a href="/">
        <div class="float-left" id="logo"></div>
      </a>

      <!--HAMBURGER MAGNIFIC POPUP LINK/BUTTON AND CONTENT-->
      <a href="#test-popup" class="open-popup-link float-right"><div id="hamburger"></div></a>

      <div id="test-popup" class="white-popup mfp-hide text-align-center">
        <div id="popup-content" class="inline-block">
          <ul>
            <h2><a href="/">Home</a></h2>

            <h2><a href="projects">Portfolio</a></h2>

            <h2><a href="about">About</a></h2>

            <h2><a href="contact">Contact</a></h2>
          </ul>
          <br>
          <h5>Connect With Me</h5>

          <div id="popup-icons">
            <a href="https://github.com/vidrepar"><img src="images/icon-github.png"></a>
            <a href="https://www.facebook.com/nucky.thompson.75054"><img src="images/icon-facebook.png"></a>
            <a href="https://www.behance.net/aaviador"><img src="images/icon-behance.png"></a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
</nav>
