<div class="col-md-12 projects-list" ng-controller="ProjectsCtrl">

    <h1>Projects List</h1>
    <div class="btn btn-primary" ng-click="createProject()">Create new</div>

    <!-- todo sorting lists, connect it to the existing projects from the db -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th ng-click="toggleDateOrder()">Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in list | orderBy:options.orderFilter">
                <td>{{ project.title }}</td><!-- todo also create sorting by name -->
                <td>{{ project.date | date:'dd/MM/yy hh:mm:ss' }}</td>
                <td><div class="btn btn-xs btn-danger" ng-click="deleteProject(project._id)">Delete</div></td>
            </tr>
        </tbody>
    </table>

</div>
