@import url(https://fonts.googleapis.com/css?family=Montserrat|Lora:400italic,700italic);

*{
    /*vertical-align: top;*/
    border:black solid 1px;
}

html{
  overflow: visible !important;
  margin-right: 0px !important;
}

body{
  /*for testing purposes*/
  /*background-color: lightgrey !important;*/
}

/*FONT/TYPEFACE RULES*/
h1, h2, h3, h4, h5, h6, .btn, ul{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

h1, h2{
  color: #fff !important;
}

h2{
  font-size: 40px !important;
  color: #000 !important;
}

p, label, input{
  font-family: 'Lora', serif !important;
  font-style: italic;
  font-size: 20px;
}

.p-details{
  font-family: 'Lora', serif !important;
  font-style: italic;
  font-size: 14px;
}

label{
  font-weight: 100 !important;
}

.btn{
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px !important;
}

ul{
  text-transform: uppercase;
  padding-left: 0px;
}

/*POPUP DESIGN*/
.white-popup{
  max-width: 100% !important;
}

.mfp-container{
  padding: 0px !important;
}

#popup-content h2 a{
  color: #fff !important;
  text-decoration: none;
}

#popup-icons img{
  margin: 10px 20px;
}

.mfp-close{
  color: #d3d3d3 !important;
  background: url("images/close.png") no-repeat !important;
  height: 57px !important;
  width: 66px !important;
  margin: 40px 40px !important;
}

/*FLOATING ELEMENTS*/
.float-right{
    float: right;
}

.float-left{
    float: left;
}


/*INLINE BLOCK TEXT ALIGN HACK*/
.inline-block{
    display: inline-block;
  margin: 0 auto !important;
}

.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center !important;
}

.text-align-right{
    text-align: right;
}

/*NAVIGATION*/
nav{
  position: absolute;
  width: 100%;
  padding: 40px;
  z-index: 1;
}

#logo{
  background: url(images/logo.png) no-repeat;
  width: 82px;
  height: 48px;
}

#hamburger{
  background: url(images/hamburger.png);
  width: 67px;
  height: 48px;
}

#hamburger:hover{
  background: url(images/hamburger-hover.png);
  width: 67px;
  height: 48px;
  cursor: pointer;
}

/*MAGNIFIC POPUP CONTENT*/
.white-popup {
  background: #d3d3d3;
  max-width: 500px;
}

/*LANDING PAGE*/
.text-landing{
  color: #fff;
}
/*LANDING SECTION 1*/

.landing-section-1{
  background: url(images/bg-landing.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-landing h1{
  font-size: 72px;
}

.text-landing p{
  font-size: 23px;
}

/*LANDING SECTION 2*/

.landing-section-2{
  background-color: cornflowerblue;
}

/*LANDING SECTION 3*/

.landing-section-3{
  background-color: coral;
}

/*ABOUT PAGE*/
/*ABOUT SECTION 1*/

#about-section-1{
    background: url(images/bg-about.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*CONTACT PAGE*/
/*CONTACT SECTION 1*/

#contact-section-1{
  background: url(images/bg-contact.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*PORTFOLIO PAGE*/
/*PORTFOLIO SECTION 1*/

#portfolio-section-1{
  background: url(images/bg-portfolio.png) repeat-x;
}

.grid{
  padding: 10px;
}

.grid-item{
  background: #fff;
  display: inline-block;
  width: 30%;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
}
