@import url(https://fonts.googleapis.com/css?family=Montserrat|Lora:400italic,700italic);
.RoundCorner {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.DefaultParagraphStyles {
  font-family: 'Lora', serif !important;
  font-style: italic;
}
.DefaultParagraphStyles .p-details {
  font-size: 14px !important;
}
.DefaultHeadingStyles {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}
/*BUTTON DESIGN GUIDELINES*/
.Button {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px !important;
  color: #fff !important;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}
.Button:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff !important;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.Button:active {
  background: rgba(0, 0, 0, 0.8);
  color: #fff !important;
}
/*FORM DESIGN GUIDELINES*/
.Form {
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/*PORTFOLIO DESIGN GUIDELINES*/
.ProjectsHeadingsStyles {
  color: #203060 !important;
}
.ProjectsHeadingsStyles h1 {
  font-size: 100px;
  margin-top: 0px;
  padding-top: 30px;
}
.ProjectsHeadingsStyles h3 {
  font-size: 16px;
}
.ProjectsHeadingsStyles .grid p {
  font-size: 14px;
}
.FooterStyles {
  background-color: #252525;
  color: #d3d3d3;
}
.FooterStyles p {
  font-size: 14px;
  margin: 20px 0px;
}
* {
  /*vertical-align: top;*/
}
body {
  /*for testing purposes*/
  /*
  top: -40px !important; !*very bad solution when border for all elements is turned of*!
  */
}
/*FONT/TYPEFACE RULES*/
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}
h1,
h2 {
  color: #fff;
}
h2 {
  font-size: 40px !important;
  color: #000 !important;
}
p,
label,
input {
  font-family: 'Lora', serif !important;
  font-style: italic;
  font-size: 20px;
}
p .p-details,
label .p-details,
input .p-details {
  font-size: 14px !important;
}
textarea {
  font-family: 'Lora', serif !important;
  font-style: italic;
  /*this is a TEMPORARY solution*/
  min-height: 100px;
  max-width: auto;
}
textarea .p-details {
  font-size: 14px !important;
}
textarea::-webkit-input-placeholder {
  padding-top: 7px;
}
.btn {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px !important;
  color: #fff !important;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff !important;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.btn:active {
  background: rgba(0, 0, 0, 0.8);
  color: #fff !important;
}
.form-control {
  height: 50px !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}
.p-details {
  font-family: 'Lora', serif !important;
  font-style: italic;
  font-size: 16px !important;
}
.p-details .p-details {
  font-size: 14px !important;
}
label {
  font-weight: 100 !important;
}
ul {
  text-transform: uppercase;
  padding-left: 0px;
}
/*FOOTER DESIGN*/
footer {
  background-color: #252525;
  color: #d3d3d3;
}
footer p {
  font-size: 14px;
  margin: 20px 0px;
}
/*POPUP DESIGN*/
#popup {
  color: #d3d3d3 !important;
  background-color: lightgrey !important;
  /*margin: 40px 40px !important;*/
  position: fixed;
  width: 100%;
  margin-left: -40px;
  top: 0px;
}
#popup-content {
  position: relative;
}
#popup-content h2 a {
  color: #fff !important;
  text-decoration: none;
}
#popup-icons img {
  margin: 10px 20px;
}
#close {
  background: url("images/close.png") no-repeat;
  height: 57px !important;
  width: 66px !important;
  cursor: pointer;
  position: relative;
  margin: 40px !important;
}
/*FLOATING ELEMENTS*/
.float-right {
  float: right;
}
.float-left {
  float: left;
}
/*INLINE BLOCK TEXT ALIGN HACK*/
.inline-block {
  display: inline-block;
  margin: 0 auto !important;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right;
}
/*NAVIGATION*/
nav {
  position: fixed;
  width: 100%;
  padding: 40px;
  z-index: 1;
}
#logo {
  background: url(images/logo.png) no-repeat;
  width: 82px;
  height: 48px;
}
#hamburger {
  background: url(images/hamburger.png);
  width: 67px;
  height: 48px;
}
#hamburger:hover {
  background: url(images/hamburger-hover.png);
  width: 67px;
  height: 48px;
  cursor: pointer;
}
/*LANDING PAGE*/
.text-landing {
  color: #fff;
  padding-top: 30px;
}
/*LANDING SECTION 1*/
.landing-section-1 {
  background: url(images/bg-landing.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-landing h1 {
  font-size: 72px;
}
.text-landing p {
  font-size: 23px;
}
/*LANDING SECTION 2*/
.landing-section-2 {
  background-color: #3550a0;
}
/*LANDING SECTION 3*/
.landing-section-3 {
  background-color: #f05b55;
}
/*ABOUT PAGE*/
/*ABOUT SECTION 1*/
#about-section-1 {
  background: url(images/bg-about.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about-section-1 .text-landing {
  position: relative;
}
/*CONTACT PAGE*/
/*CONTACT SECTION 1*/
#contact-section-1 {
  background: url(images/bg-contact.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact-section-1 h1 {
  font-size: 100px !important;
}
/*PORTFOLIO PAGE*/
/*PORTFOLIO SECTION 1*/
#portfolio-section-1 {
  background: url(images/bg-portfolio.png) repeat-x;
  color: #203060 !important;
}
#portfolio-section-1 h1 {
  font-size: 100px;
  margin-top: 0px;
  padding-top: 30px;
}
#portfolio-section-1 h3 {
  font-size: 16px;
}
#portfolio-section-1 .grid p {
  font-size: 14px;
}
.container-first {
  background-color: #f8f8f8;
  margin: 75px auto 200px auto !important;
  padding: 0px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.grid {
  padding: 10px;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.grid-item {
  background: #fff;
  display: inline-block;
  width: 30%;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
}
