<div class="modal-header">
        <h3 class="modal-title">New post</h3>
</div>
<div class="modal-body">
    
    <label>Post title</label>
    <input class="form-control" type="text" ng-model="post.title" />
    <label>Post Description</label>
    <textarea class="form-control" ng-model="post.description"></textarea>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
