<!DOCTYPE html>
<html>
<head>

  <% include ../head.ejs %>

</head>
<body>

  <% include ../nav.ejs %>

  <div class="container">
    <div id="presentation-section-1" class="text-align-center">

      <div class="container"><h1><%= project.title %></h1>

        <p>- <%= moment(project.timeStamp).format('LL') %> -</p></div>

      <img src="/assets/images/bg-presentation.png">

    </div>
  </div>

  <div class="container" id="presentation-section-2">
    <div id="project-services" class="col-md-offset-1 col-md-3">
      <h2>Provided Services</h2>
      <p>Web Design</p>
    </div>
    <div id="project-description" class="col-md-7">
      <p><%= project.description %></p>
    </div>
  </div>

  <div id="project-context" class="container-fluid">

  </div>

  <div class="container">

  </div>

  <% include ../footer.ejs %>
