<!DOCTYPE html>
<html>
<head>

  <% include ../head.ejs %>

</head>
<body>

  <% include ../nav.ejs %>

  <div id="presentation" class="container">
    <div id="presentation-section-1" class="text-align-center">

      <div class="container"><h1><%= project.title %></h1>

        <p>- <%= moment(project.timeStamp).format('LL') %> -</p></div>

      <img src="/assets/images/bg-presentation.png">

    </div>
  </div>

  <div class="container" id="presentation-section-2">
    <div id="project-services" class="col-md-4">
      <h2>Provided Services</h2>
      <p>Web Design</p>
    </div>
    <div id="project-description" class="col-md-8">
      <p><%= project.description %></p>
    </div>
  </div>

  <div id="presentation-section-3" class="container-fluid">
    <div id="project-context-left" class="col-md-6"></div>
    <div id="project-context-right" class="col-md-6"></div>
  </div>

  <div id="presentation-section-4" class="container-fluid text-align-center">
    <h2>Typography</h2>
    <img src="#">
  </div>

  <div id="presentation-section-5" class="container-fluid text-align-center">
    <h2>Color Scheme</h2>
    <img src="#">
  </div>

  <div id="presentation-section-6" class="container-fluid text-align-center">
    <h2>Custom Section</h2>
    <img src="#">
  </div>

  <div id="presentation-section-7" class="container-fluid text-align-center">
    <h2>Custom Section</h2>
    <img src="#">
  </div>


  <div id="lets-work" class="container-fluid text-align-center">
    <h2>Let's Work</h2>
    <p>If  you need enthusiastic developer or creative designer, leave me a message and I’ll contact you soon.</p>
    <a href="/contact">
      <div class="btn">Contact Me</div>
    </a>
  </div>


  <% include ../footer.ejs %>
