<!DOCTYPE html>
<html>
<head>

  <% include ../head.ejs %>

</head>
<body>

  <% include ../nav.ejs %>

  <div id="portfolio-section-1" class="text-align-center">

    <h1><%= project.title %></h1>
    <p><%= project.title %></p>

  </div>

  <% include ../footer.ejs %>
