<!DOCTYPE html>
<html>
<head>

  <% include ../head.ejs %>

</head>
<body>

  <% include ../nav.ejs %>

  <div id="portfolio-section-1" class="text-align-center">

    <h2><%= project._id %></h2>
    <h1><%= project.title %></h1>
    <p><%= project.description %></p>
    <p><%= project.timeStamp %></p>

  </div>

  <% include ../footer.ejs %>
