<div class="col-md-12" ng-controller="ProjectCtrl">

    <h1 ng-if="!isEdit">Create new project</h1>
    <h1 ng-if="isEdit">Edit project</h1>
    <div class="btn btn-md pull-right btn-success" ng-click="save()" ng-if="!isEdit">Create</div>
    <div class="btn btn-md pull-right btn-success" ng-click="save()" ng-if="isEdit">Save</div>
<!--
    <div class="btn btn-md pull-right btn-danger" ng-click="save()">Delete</div> &lt;!&ndash; todo create delete function in project controller &ndash;&gt;
-->
    <br/><br/>
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control" ng-model="model.title"/><br/>
    <label for="description">Description</label>
    <textarea id="description" ui-tinymce ng-model="model.description" class="form-control"></textarea> <!-- todo tinymce throws an error -->
    <br/>
    <label>Upload cover</label><br/>
    <div class="btn btn-primary" ng-disabled="options.selectedFile" ngf-select="selectFile($file)">Select cover</div>
    <div class="btn btn-success" ng-click="upload(options.selectedFile)" ng-if="options.selectedFile">Upload cover</div>
    <br/>
    <p>{{ options.selectedFile.name }}</p>
    <br/>
    <img ngf-thumbnail="options.selectedFile || '/thumb.jpg'" ngf-size="{width: 200, height: 100, quality: 0.9}">
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ options.progressPercentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ options.progressPercentage }}%">
            {{ options.progressPercentage }}% Complete (success) <!--todo add proper styling-->
        </div>
    </div>
    <hr>
    <label>Sections</label><br/>
    <div ng-repeat="section in sections">
        <input type="text" class="form-control" ng-model="section.title">
        <div class="btn btn-primary" ngf-select="addSections($file, section)">Upload images</div>
        <br/><br/>
        <div class="btn btn-success" ng-click="addSectionButton()">+</div>
    </div>

</div>
