@import url(https://fonts.googleapis.com/css?family=Montserrat|Lora:400,400italic,700,700italic);
.ColorOverlay {
  background: rgba(78, 118, 236, 0.82);
  overflow: hidden;
  z-index: 1;
}
.RoundCorner {
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}
.RoundCornerForm {
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.BgSizeCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.DefaultParagraphStyles {
  font-family: 'Lora', serif !important;
  font-style: normal;
}
.DefaultParagraphStyles .p-details {
  font-size: 14px !important;
}
.DefaultHeadingStyles {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}
/*BUTTON DESIGN GUIDELINES*/
.Button {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px !important;
  color: #fff !important;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-border-radius: 2px 2px 2px 2px !important;
  -moz-border-radius: 2px 2px 2px 2px !important;
  border-radius: 2px 2px 2px 2px !important;
}
.Button:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff !important;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.35);
}
.Button:active {
  background: rgba(0, 0, 0, 0.8);
  color: #fff !important;
}
/*FORM DESIGN GUIDELINES*/
.Form {
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-border-radius: 0px 0px 0px 0px !important;
  -moz-border-radius: 0px 0px 0px 0px !important;
  border-radius: 0px 0px 0px 0px !important;
}
.form-ctrl {
  border-left: 12px 12px solid #ff7974;
  height: auto;
  margin: 12px;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.35);
}
.col-md-4,
.col-md-8 {
  padding: 0px !important;
}
/*LANDING DESIGN GUIDELINES*/
/*PORTFOLIO DESIGN GUIDELINES*/
.ProjectsHeadingsStyles {
  color: #203060 !important;
}
.ProjectsHeadingsStyles h1 {
  font-size: 100px;
  margin-top: 0px;
  padding-top: 30px;
}
.ProjectsHeadingsStyles h3 {
  font-size: 16px;
}
.ProjectsHeadingsStyles .grid p {
  font-size: 14px;
}
.FooterStyles {
  background-color: #252525;
  color: #d3d3d3;
  position: relative;
  bottom: 0px;
}
.FooterStyles p {
  font-size: 14px;
  font-style: italic;
  margin: 20px 0px;
}
* {
  /*vertical-align: top;*/
}
/*FONT/TYPEFACE RULES*/
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}
h1,
h2 {
  color: #fff;
}
h2 {
  font-size: 40px;
  color: #000;
}
h5 {
  color: #fff !important;
  text-decoration: line-through;
  margin-top: 29px !important;
  margin-bottom: 20px !important;
}
p,
label,
input {
  font-family: 'Lora', serif !important;
  font-style: normal;
  font-size: 20px;
}
p .p-details,
label .p-details,
input .p-details {
  font-size: 14px !important;
}
textarea {
  font-family: 'Lora', serif !important;
  font-style: normal;
  /*this is a TEMPORARY solution*/
  min-height: 100px;
  max-width: auto;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
textarea .p-details {
  font-size: 14px !important;
}
textarea::-webkit-input-placeholder {
  margin-top: 12px !important;
}
textarea:focus {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.btn {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px !important;
  color: #fff !important;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-border-radius: 2px 2px 2px 2px !important;
  -moz-border-radius: 2px 2px 2px 2px !important;
  border-radius: 2px 2px 2px 2px !important;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff !important;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.35);
}
.btn:active {
  background: rgba(0, 0, 0, 0.8);
  color: #fff !important;
}
.btn-more {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px !important;
  color: #fff !important;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.22);
  -webkit-border-radius: 2px 2px 2px 2px !important;
  -moz-border-radius: 2px 2px 2px 2px !important;
  border-radius: 2px 2px 2px 2px !important;
  display: block;
}
.btn-more:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff !important;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.35);
}
.btn-more:active {
  background: rgba(0, 0, 0, 0.8);
  color: #fff !important;
}
.form-control {
  height: 50px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  -webkit-border-radius: 0px 0px 0px 0px !important;
  -moz-border-radius: 0px 0px 0px 0px !important;
  border-radius: 0px 0px 0px 0px !important;
  font-style: italic !important;
}
.p-details {
  font-family: 'Lora', serif !important;
  font-style: normal;
  font-size: 16px !important;
}
.p-details .p-details {
  font-size: 14px !important;
}
.italic {
  font-style: italic !important;
}
label {
  font-weight: 100 !important;
}
ul {
  text-transform: uppercase;
  padding-left: 0px;
}
/*FOOTER DESIGN*/
footer {
  background-color: #252525;
  color: #d3d3d3;
  position: relative;
  bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer p {
  font-size: 14px;
  font-style: italic;
  margin: 20px 0px;
}
/*POPUP DESIGN*/
#popup {
  color: #d3d3d3 !important;
  background-color: lightgrey !important;
  position: fixed;
  width: 100%;
  margin-left: -40px;
  top: 0px;
}
#popup-content {
  position: relative;
}
a {
  color: #fff;
}
#popup-content a {
  color: #fff;
  text-decoration: none !important;
}
#popup-content a:hover {
  color: #3956ad;
}
#popup-content .active {
  color: #4e76ec;
}
#popup-icons img {
  margin: 10px 20px;
}
#close {
  cursor: pointer;
  position: relative;
  margin: 40px;
}
/*FLOATING ELEMENTS*/
.float-right {
  float: right;
}
.float-left {
  float: left;
}
/*INLINE BLOCK TEXT ALIGN HACK*/
.inline-block {
  display: inline-block;
  margin: 0 auto !important;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right;
}
/*NAVIGATION*/
nav {
  position: fixed;
  width: 100%;
  padding: 40px;
  z-index: 333!important;
}
#hamburger {
  cursor: pointer;
}
#hamburger:hover {
  cursor: pointer;
}
#close {
  cursor: pointer;
  position: relative;
  margin: 40px !important;
}
/*LANDING PAGE*/
.text-landing {
  color: #fff;
  padding-top: 30px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
}
.text-landing p {
  text-shadow: none;
}
.text-landing .btn {
  margin-top: 30px;
}
/*LANDING SECTION 1*/
.landing-section-1 {
  background: url(/assets/images/bg-landing.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-landing h1 {
  font-size: 72px;
}
.text-landing p {
  font-size: 23px;
}
/*LANDING SECTION 2*/
.landing-section-2 {
  background-color: #3550a0;
}
#landing-section-2 {
  margin-top: 30px !important;
}
#landing-section-2 img {
  padding: 0px 15px;
}
/*LANDING SECTION 3*/
.landing-section-3 {
  background-color: #f05b55;
}
/*ABOUT PAGE*/
/*ABOUT SECTION 1*/
#about-section-1 {
  background: url(images/bg-about.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
#about-section-1 h1 {
  font-size: 100px;
}
#about-section-1 .text-landing {
  position: relative;
}
#text-about {
  margin-top: 45px;
}
#text-about h2 {
  text-align: right;
  padding-right: 25px;
  padding-top: 30px;
  color: #203060;
  font-size: 40px;
}
#text-about .italic {
  font-size: 100px;
}
#text-about #text-about-cv {
  padding-left: 25px;
  padding-top: 50px;
}
#text-about #text-about-cv .lead p {
  font-family: 'Montserrat', sans-serif !important;
  color: #3550a0;
  font-size: 21px !important;
  line-height: 1.4;
}
#text-about #text-about-cv p {
  font-size: 16px !important;
  line-height: 1.6;
}
#arrow-nav {
  position: absolute;
  bottom: -43px;
  cursor: pointer;
}
#arrow-nav:hover {
  content: url("images/arrow-down-btn-hover.png");
}
#about-section-abilities {
  background: url("/assets/images/bg-abilities.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 414px;
  margin-top: 120px;
  padding-bottom: 90px;
  border-bottom: 3px solid #3956ad !important;
  z-index: 9999;
}
#about-section-abilities h2 {
  padding-bottom: 90px;
  color: #203060;
  font-size: 40px;
}
#about-section-abilities h3 {
  margin-top: 60px;
}
#about-section-abilities .col-md-4 {
  margin-bottom: 40px;
  padding: 20px !important;
}
#section-connect {
  background: url("images/bg-connect.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 120px;
}
#section-connect h2 {
  color: #fff !important;
}
#section-connect #icon-github:hover {
  content: url("images/icon-github-round-hover.png");
}
#section-connect #icon-facebook:hover {
  content: url("images/icon-facebook-round-hover.png");
}
#section-connect #icon-behance:hover {
  content: url("images/icon-behance-round-hover.png");
}
#section-connect .col-md-8 {
  /*this is not working*/
  margin-top: 60px;
}
#section-connect a {
  margin-left: 15px;
  margin-right: 15px;
}
/*CONTACT PAGE*/
/*CONTACT SECTION 1*/
#contact-section-1 {
  background: url(images/bg-contact.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact-section-1 .btn {
  margin-top: 0px;
}
#contact-section-1 h1 {
  font-size: 100px;
}
/*PORTFOLIO PAGE*/
/*PORTFOLIO SECTION 1*/
#portfolio-section-1 {
  background: url(images/bg-portfolio.png) repeat-x;
  color: #203060 !important;
}
#portfolio-section-1 h1 {
  font-size: 100px;
  margin-top: 0px;
  padding-top: 30px;
}
#portfolio-section-1 h3 {
  font-size: 16px;
}
#portfolio-section-1 .grid p {
  font-size: 14px;
}
.container-first {
  background-color: #f8f8f8;
  margin: 75px auto 200px auto !important;
  padding: 0px !important;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}
.grid-item {
  margin: 2px;
  height: 300px;
  padding: 10px;
  /*  background: no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-item:hover {
  color: #bd4843 !important;
}
.grid {
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.35);
  padding: 1px;
  overflow: hidden;
}
/* VERTICAL CENTERING WITH GHOST ELEMENT */
/* This parent can be any width and height */
.block-ghost {
  text-align: center;
  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}
/* The ghost, nudged to maintain perfect centering */
.block-ghost:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
  /* Note: The 0.25em nudge-back is a little janky. To do it perfectly, you could set font-size: 0; on the parent and then notch the font size back up inside the content container. */
}
/* The element to be centered, can also be of any width and height */
.centered-ghost {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  color: #fff;
}
#presentation-section-1 {
  width: 100%;
}
#presentation-section-1 h1 {
  font-size: 100px;
  margin-top: 0px;
  padding-top: 30px;
}
#presentation-section-1 h3 {
  font-size: 16px;
}
#presentation-section-1 img {
  width: 100%;
  margin-top: 30px;
}
#presentation-section-2 {
  position: relative;
  margin-top: 51px !important;
  margin-bottom: 150px !important;
}
#presentation-section-2 #description h2 {
  font-size: 45px;
  text-align: right;
  margin-top: 0px;
  padding-top: 50px;
  padding-right: 25px;
  word-wrap: break-word;
}
#presentation-section-2 #project-description {
  padding-top: 50px;
  padding-left: 25px;
}
#presentation-section-2 p {
  font-style: normal !important;
  line-height: 1.6;
  font-size: 16px !important;
}
#section h2 {
  font-size: 45px;
  padding-top: 90px !important;
  padding-bottom: 30px;
}
#section img {
  width: 100%;
}
#lets-work {
  background: url("/assets/images/bg-lets-work.png") repeat-x center center;
  z-index: 100;
  height: 526px;
  position: relative;
  margin-top: -48px;
  margin-bottom: -48px;
}
#lets-work h2 {
  font-size: 45px;
}
#lets-work .centered-ghost {
  width: 500px;
  color: #fff;
}
#block-ghost-fix-presentation .block-ghost {
  white-space: normal;
}
/*MEDIA QUERIES FOR MASONRY GRID & GRID ITEMS*/
/* Large desktop */
@media (min-width: 1200px) {
  .grid-item {
    width: 385px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 990px) and (max-width: 1200px) {
  .grid-item {
    width: 318px;
  }
}
/* Landscape phone to portrait tablet */
@media (min-width: 740px) and (max-width: 990px) {
  .grid-item {
    width: 370px;
  }
  #text-about h2,
  #description h2 {
    text-align: center !important;
  }
  #text-about-cv .lead {
    font-size: 21px;
  }
}
@media (max-width: 740px) {
  .grid-item {
    width: 100%;
  }
  #text-about h2,
  #description h2 {
    text-align: center !important;
  }
  #text-about .btn,
  #description .btn {
    display: block;
  }
  #text-about-cv .lead {
    font-size: 21px;
  }
  #lets-work .centered-ghost {
    width: 300px;
  }
}
/* MEDIA QUERIES FOR DIFFERENT DEVICES */
/*IPHONE 6 IN PORTRAIT*/
@media only screen and (max-device-width: 667px) and (orientation: portrait) {
  nav {
    padding: 34px 20px 0px 20px;
    height: 4px;
  }
  #popup {
    position: absolute;
    right: 0px;
  }
  #popup-icons img {
    margin: 10px 20px;
    height: 30px;
  }
  .text-landing h1 {
    font-size: 40px !important;
  }
  .text-landing p {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .text-landing .p-details {
    margin-top: 0px;
    margin-bottom: 15px !important;
  }
  .text-landing .btn {
    width: 100%;
  }
  .landing-section-1 .text-landing p,
  .landing-section-2 .text-landing p,
  .landing-section-3 .text-landing p {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  #landing-section-2 img {
    padding: 0px 15px;
    width: 75px;
    height: auto;
  }
  /* HEADINGS ON PHONE */
  #popup-content h2 {
    font-size: 30px !important;
  }
  #portfolio-section-1 h1,
  #contact-section-1 h1,
  #presentation-section-1 h1 {
    font-size: 40px;
  }
  #portfolio-section-1 h2,
  #contact-section-1 h2,
  #presentation-section-1 h2 {
    font-size: 30px !important;
  }
  #portfolio-section-1 p,
  #contact-section-1 p,
  #presentation-section-1 p {
    font-size: 16px !important;
    line-height: 1.6 !important;
  }
  #presentation-section-2 #description h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #presentation-section-2 #project-description {
    padding-top: 20px;
  }
  #section h2 {
    font-size: 30px !important;
    padding-top: 35px !important;
    padding-bottom: 20px !important;
  }
  #section p {
    font-size: 16px !important;
  }
  #about-section-1 p {
    font-size: 16px !important;
  }
  #lets-work .centered-ghost h2 {
    font-size: 30px;
  }
  #lets-work .centered-ghost p {
    font-size: 16px !important;
  }
  #about-section-abilities {
    margin-top: 70px;
  }
  #about-section-abilities h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  #about-section-abilities img {
    width: 150px;
  }
  #about-section-abilities h3 {
    margin-top: 30px;
  }
  #about-section-abilities p {
    font-size: 16px;
  }
  #about-section-abilities .col-md-4 {
    margin-bottom: 40px;
    padding-bottom: 0px !important;
  }
  #text-about {
    margin-top: 45px;
  }
  #text-about h2 {
    text-align: center;
    color: #203060;
    padding-left: 10px;
    font-size: 30px;
  }
  #text-about #text-about-cv {
    padding-top: 20px;
    padding-left: 25px;
  }
  #text-about #text-about-cv .lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #3550a0;
  }
  #text-about #text-about-cv p {
    font-size: 16px !important;
    line-height: 1.6;
  }
  #text-about #text-about-cv .btn {
    display: block;
    width: 100%;
  }
  #logo,
  #hamburger,
  #hamburger:hover,
  #close {
    height: 30px;
    width: auto;
  }
  #close {
    margin: 34px 30px 0px 0px !important;
  }
}
