

<div class="modal-header">
        <h3 class="modal-title">{{type}} project</h3>
</div>
<div class="modal-body">

    <label for="title">Project title</label>
    <input class="form-control" id="title" type="text" ng-model="project.title" />
    <label for="description">Project Description</label>
    <textarea class="form-control" id="description" ui-tinymce ng-model="project.description"></textarea>
    <br/>
    <label>Upload images</label><br/>
    <div class="btn btn-primary" ngf-select="upload($file)">Upload cover</div>
    <br/><br/>
    <label>Upload cover</label><br/>
    <div class="btn btn-primary" ngf-select="upload($file)">Upload images</div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
