

<div class="modal-header">
        <h3 class="modal-title">{{type}} project</h3>
</div>
<div class="modal-body">

    <!-- PROJECT TITLE, COVER AND DESCRIPTION -->
    <label for="title">Project title</label>
    <input class="form-control" id="title" type="text" ng-model="project.title" /><br/>
    <label>Select cover for {{ project.title }} project </label><br/>




    <!-- ngf-select is for upload, creates a file picker window -->
    <div class="btn btn-primary" ngf-select="selectFile($file)">Select cover</div>
    <div class="btn btn-success" ng-click="upload(options.selectedFile)" ng-if="options.selectedFile">Upload cover</div>
    <p>{{ options.selectedFile.name }}</p>
    <br/>




    <img ngf-thumbnail="options.selectedFile || '/thumb.jpg'" ngf-size="{width: 200, height: 100, quality: 0.9}">
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{options.progressPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{options.progressPercentage}}%">
            {{ options.progressPercentage }} Complete (success)
        </div>
    </div>
    <br/>
    <label for="description">Project Description</label>
    <textarea class="form-control" id="description" ui-tinymce ng-model="project.description"></textarea>
    <br/>
    <hr>


    <!-- CONTEXT SECTION, 2 IMAGES 50% WIDTH EACH ON THE WEBSITE -->
    <label>Upload Context Image</label><br/>
    <div class="btn btn-primary" ngf-select="upload($file)">Upload image</div><br/>
    <label>Upload Corporate Logo/Graphic</label><br/>
    <div class="btn btn-primary" ngf-select="upload($file)">Upload image</div>
    <br/>
    <hr>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
