<!DOCTYPE html>
<html>
<head>

    <% include ../head.ejs %>

</head>
<body>

    <% include ../nav.ejs %>

    <div id="fullpage">

        <div class="section" id="about-section-1">
          <div class="slide text-landing text-align-center">
            <h1 class="inline-block"><%= title %></h1>
            <p>Web Designer & Node.js Dev</p>
          </div>
        </div>

      <div class="container">

      <div class="col-md-4">
        <h2>I'm eager to learn new things</h2>
      </div>

      <div class="col-md-8">
        <p>Hey. My name is Vid Repar and I’m studying  Web Design and Development at SAE Institute. My focus is Node.js, using the tools built upon it: express.js, angular.js, mongoose.js. For the design part there is no fear for me of using Adobe Suite and Blender, but daily use include Photoshop and Illustrator for the most part. I enjoy the whole process of working on Web or Mobile projects and love to grow and develop, especially when huge challenges arise. I appreciate honest communication to create great experiences and enjoy working within amazing teams where I can use my skills to create meaningful solutions.<br><br>And I love to travel around the world.</p><br>
        <p class="p-details">My career in the field started nearly 5 years ago in a small startup. Back then design was my main priority. Then there were some career shifts ahead but my drive for coding started to grow. I went back to college to study Landscape Architecture, attended National Coding Course and started handball youth coaching. In this period I gained National Web Developer Certificate and EHF Coaching License as a result of my interdisciplinary endeavours. I am “fluent” in programming, design, sports, architecture, organization and personal development. In these years of exploration I sharpened my sense of aesthetics and developed analitical thinking.<br>My focus is Web Design and Development and I’m currently studying it at SAE Institute to bring it on a higher level.<br>I’m open to group or individual projects as well as give helpful and honest advice if needed.</p>
      </div>
        <div class="text-align-center">
          <div class="col-md-12">
            <h2>Full Stack Abilities</h2>
          </div>
          <div class="col-md-4">
            <h3>Vector</h3>
            <p>Print Design</p>
            <p>Logo Design</p>
          </div>
          <div class="col-md-4">
            <h3>Apps</h3>
            <p>Node.js</p>
            <p>Angular</p>
            <p>MongoDB</p>
            <p>Express.js</p>
          </div>
          <div class="col-md-4">
            <h3>Animations</h3>
            <p>HTML 5</p>
            <p>CSS 3</p>
            <p>jQuery</p>
          </div>
        </div>

    <% include ../footer.ejs %>
