<!DOCTYPE html>
<html>
<head>

    <% include ../head.ejs %>

</head>
<body>

    <% include ../nav.ejs %>

    <div id="portfolio-section-1" class="text-align-center">

      <h1>My <%= title %></h1>
      <p>- Featured Projects -</p>

      <div class="container container-first">
        <div class="grid">

      <% for(var i=0;i<projects.length;i++) { %>

          <div class="project-item grid-item">

          <h3><%= projects[i].title %></h3>
          <p><%=  projects[i].author %></p>
          <p>

            <% if(projects[i].timeStamp.getMonth() == 0){%>
              <span>January</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 1){ %>
              <span>Februray</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 2){ %>
              <span>March</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 3){ %>
              <span>April</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 4){ %>
              <span>May</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 5){ %>
              <span>June</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 6){ %>
              <span>July</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 7){ %>
              <span>August</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 8){ %>
              <span>September</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 9){ %>
              <span>October</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 10){ %>
              <span>November</span>
            <% } %>
            <% if(projects[i].timeStamp.getMonth() == 11){ %>
              <span>December</span>
            <% } %>

            <%=
                  projects[i].timeStamp.getDay() +', ' +
                  projects[i].timeStamp.getFullYear()
            %>

          </p>

          </div>

    <% } %>

          </div>
        </div><!-- CLOSING DIV OF CONTAINER -->
      </div>

    <% include ../footer.ejs %>
