<section class="content-header">
    <h1>About me content</h1>
</section>
<section class="content">

    <pre>{{aboutData}}</pre>

    <form name="about_form" novalidate ng-submit="aboutForm()">

        <!-- about titleGeneral -->
        <div class="form-group">
            <label name="titleGeneral">titleGeneral</label>
            <input type="text"
                   name="titleGeneral"
                   ng-model="aboutData.titleGeneral"
                   placeholder="Title..."
                   class="form-control"
            />
        </div>

        <!-- about subTitleGeneral -->
        <div class="form-group">
            <label name="subTitleGeneral">subTitleGeneral</label>
            <input type="text"
                   name="subTitleGeneral"
                   ng-model="aboutData.subTitleGeneral"
                   placeholder="Subtitle..."
                   class="form-control"
            />
        </div>

        <button type="submit"
                class="btn btn-success btn-md pull-right"
                ng-click="save()"
                ng-disabled="isOriginal()"
                ng-if="!aboutData._id"
        >Create</button>

        <button type="submit"
                class="btn btn-primary btn-md pull-right"
                ng-click="save()"
                ng-disabled="isOriginal()"
                ng-if="aboutData._id"
        >Save</button>

        <button type="button"
                class="btn btn-warn btn-md pull-right"
                ng-click="cancel()"
                ng-disabled="isOriginal()"
        >Cancel</button>

    </form>

</section>
