<section class="content-header">
    <h1>About</h1>
</section>
<section class="content">

    <form name="about_form" novalidate ng-submit="aboutForm()">

        <!-- about titleGeneral -->
        <div class="form-group">
            <label name="titleGeneral">titleGeneral</label>
            <input type="text"
                   name="titleGeneral"
                   ng-model="aboutData.titleGeneral"
                   placeholder="Title..."
                   class="form-control"
            />
        </div>

        <!-- about subTitleGeneral -->
        <div class="form-group">
            <label name="subTitleGeneral">subTitleGeneral</label>
            <input type="text"
                   name="subTitleGeneral"
                   ng-model="aboutData.subTitleGeneral"
                   placeholder="Subtitle..."
                   class="form-control"
            />
        </div>

        <!-- about description.title -->
        <div class="form-group">
            <label name="description.title">description.title</label>
            <input type="text"
                   name="description.title"
                   ng-model="aboutData.description.title"
                   placeholder="Title of the description..."
                   class="form-control"
            />
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- about aboutData.description.lead -->
                <label for="aboutData.description.lead">aboutData.description.lead</label>
                <textarea id="aboutData.description.lead"
                          ui-tinymce
                          ng-model="aboutData.description.lead"
                          class="form-control"
                ></textarea>
                <br/>
            </div>
            <div class="col-md-6">
                <!-- about aboutData.description.paragraph -->
                <label for="aboutData.description.paragraph">aboutData.description.paragraph</label>
                <textarea id="aboutData.description.paragraph"
                          ui-tinymce
                          ng-model="aboutData.description.paragraph"
                          class="form-control"
                ></textarea>
            </div>
        </div>

        <!-- about titleAbilities -->
        <div class="form-group">
            <label name="titleAbilities">titleAbilities</label>
            <input type="text"
                   name="titleAbilities"
                   ng-model="aboutData.titleAbilities"
                   placeholder="Abilities title..."
                   class="form-control"
            />
        </div>

        <!-- aboutData.stack[0].title -->
        <div class="form-group">
            <label name="aboutData.stack[0].title">aboutData.stack[0].title</label>
            <input type="text"
                   name="aboutData.stack[0].title"
                   ng-model="aboutData.stack[0].title"
                   placeholder="Stack first column title..."
                   class="form-control"
            />
        </div>

        <div class="row">
            <div ng-repeat="ability in aboutData.stack[0].abilities track by $index">
                <div class="form-group col-sm-4">
                    <label name="aboutData.stack[0].abilities[$index]">#{{ $index+1 }}</label>
                    <input type="text"
                           name="aboutData.stack[0].abilities[$index]"
                           ng-model="aboutData.stack[0].abilities[$index]"
                           placeholder="Stack first column title..."
                           class="form-control"
                    />
                </div>
            </div>
        </div>

        <div class="btn btn-primary" ng-click="addAbility(0)">Add ability</div><br><br>

        <!-- about aboutData.stack[1].title -->
        <div class="form-group">
            <label name="aboutData.stack[1].title">aboutData.stack[1].title</label>
            <input type="text"
                   name="aboutData.stack[1].title"
                   ng-model="aboutData.stack[1].title"
                   placeholder="Stack second column title..."
                   class="form-control"
            />
        </div>

        <div class="row">
            <div ng-repeat="ability in aboutData.stack[1].abilities track by $index">
                <div class="form-group col-sm-4">
                    <label name="aboutData.stack[1].abilities[$index]">#{{ $index+1 }}</label>
                    <input type="text"
                           name="aboutData.stack[1].abilities[$index]"
                           ng-model="aboutData.stack[1].abilities[$index]"
                           placeholder="Stack second column title..."
                           class="form-control"
                    />
                </div>
            </div>
        </div>

        <div class="btn btn-primary" ng-click="addAbility(1)">Add ability</div><br><br>

        <!-- about stack.thirdColumn.title -->
        <div class="form-group">
            <label name="aboutData.stack[2].title">aboutData.stack[2].title</label>
            <input type="text"
                   name="aboutData.stack[2].title"
                   ng-model="aboutData.stack[2].title"
                   placeholder="Stack third column title..."
                   class="form-control"
            />
        </div>

        <div class="row">
            <div ng-repeat="ability in aboutData.stack[2].abilities track by $index">
                <div class="form-group col-sm-4">
                    <label name="aboutData.stack[2].abilities[$index]">#{{ $index+1 }}</label>
                    <input type="text"
                           name="aboutData.stack[2].abilities[$index]"
                           ng-model="aboutData.stack[2].abilities[$index]"
                           placeholder="Stack third column title..."
                           class="form-control"
                    />
                </div>
            </div>
        </div>

        <div class="btn btn-primary" ng-click="addAbility(2)">Add ability</div><br><br>

        <!-- about connectTitle -->
        <div class="form-group">
            <label name="connectTitle">connectTitle</label>
            <input type="text"
                   name="connectTitle"
                   ng-model="aboutData.connectTitle"
                   placeholder="Connect title..."
                   class="form-control"
            />
        </div>

        <button type="submit"
                class="btn btn-success btn-md pull-right"
                ng-click="save()"
                ng-disabled="isOriginal()"
                ng-if="!aboutData._id"
        >Create</button>

        <button type="submit"
                class="btn btn-primary btn-md pull-right"
                ng-click="save()"
                ng-disabled="isOriginal()"
                ng-if="aboutData._id"
        >Save</button>

        <button type="button"
                class="btn btn-warn btn-md pull-right"
                ng-click="cancel()"
                ng-disabled="isOriginal()"
        >Cancel</button>

    </form>

</section>
